/*
 * Name: Fluentshin 
 * Made by: Zortex
 * Forked For Dark System Version by me to use Gruvbox Palette
 * Also removed Hover/Collapse Features
 */

:root {
    /*Gruvbox Palette*/
    --gruv-bg0-h: #1d2021;
    --gruv-bg0:   #282828;
    --gruv-bg1:   #3c3836;
    --gruv-bg2:   #504945;
    --gruv-bg3:   #665c54;
    --gruv-bg4:   #7c6f64;
    
    --gruv-fg0:   #fbf1c7;
    --gruv-fg1:   #ebdbb2;
    --gruv-fg2:   #d5c4a1;
    --gruv-fg3:   #bdae93;
    --gruv-fg4:   #a89984;

    --gruv-yellow: #fabd2f;
    --gruv-orange: #fe8019;
    --gruv-aqua:   #8ec07c;

    /* Theme Mapping */
    --theme-colors-background: var(--gruv-bg0);
    --theme-colors-background-alternate: var(--gruv-bg1);
    --theme-colors-surface: var(--gruv-bg2);
    --theme-colors-foreground: var(--gruv-fg1);
    --theme-colors-primary-filled: var(--gruv-yellow);
    --theme-colors-primary-contrast: var(--gruv-bg0);
}

/* -------------------------- FORCED METADATA FIX ------------------------------------ */

.fs-full-screen-player-module-container [class*="metadata"],
.fs-full-screen-player-module-container [class*="song-info"],
.fs-full-screen-player-module-container [class*="bitrate"],
.fs-full-screen-player-module-container [class*="quality"],
.fs-track-metadata,
.fs-song-metadata-container span,
.fs-song-metadata-container p {
    color: var(--gruv-fg1) !important;
    opacity: 1 !important;
    font-weight: 600 !important;
    -webkit-text-fill-color: var(--gruv-fg1) !important; 
}

/* -------------------------- Global & Layout ---------------------------------------- */

body, html {
    background: none;
    background-color: var(--gruv-bg0) !important;
    color: var(--gruv-fg1);
}

body > div:not(#root) {
    height: 100%;
}

#default-layout {
    background-color: var(--gruv-bg0);
    gap: 1rem;
}

#default-layout:has(.fs-window-bar-module-windows-container) {
    grid-template-rows: 2rem calc(-11rem + 100vh) 6rem;
}

#default-layout:not(:has(.fs-window-bar-module-windows-container)) {
    grid-template-rows: 0 calc(-9rem + 100vh) 6rem;
}

.fs-window-bar-module-windows-container {
    height: 2rem;
    background-color: var(--gruv-bg0-h);
}

/* -------------------------- Overrides ---------------------------------------------- */

@media screen and (width >=1800px) {
    .fs-playerbar-module-right-grid-item .fs-playerbar-slider-module-root {
        width: calc(10rem * var(--mantine-scale)) !important;
    }
}

@media screen and (width >=1000px) and (width < 1800px) {
    .fs-playerbar-module-right-grid-item .fs-playerbar-slider-module-root {
        width: calc(8rem * var(--mantine-scale)) !important;
    }
}

@media screen and (width >=950px) and (width < 1100px) {
    .fs-playerbar-module-right-grid-item .fs-playerbar-slider-module-root {
        width: calc(7rem * var(--mantine-scale)) !important;
    }
}

/* -------------------------- Full Screen Player (Fixed Layout) ------------------------ */

.full-screen-player-image {
    border-radius: 17px;
}

.fs-full-screen-player-module-background-image-overlay {
    position: fixed;
}

#default-layout:has(.fs-window-bar-module-windows-container) .fs-full-screen-player-module-background-image-overlay {
    top: 2rem;
}

#default-layout:not(:has(.fs-window-bar-module-windows-container)) .fs-full-screen-player-module-background-image-overlay {
    top: 0;
}

/* Cover art and lyrics fix */
.full-screen-player-image-container {
    flex-grow: 1;
}

.fs-full-screen-player-module-container .full-screen-player-queue-container {
    flex-grow: 1;
    position: relative;
    height: initial;
    width: initial;
    margin-bottom: initial;
    margin-top: initial;
    right: initial;
    top: initial;
}

.fs-full-screen-player-module-responsive-container {
    flex-direction: row;
    display: flex;
    gap: 2rem;
}

#default-layout .fs-full-screen-player-module-responsive-container {
    margin-top: 2rem;
}

#default-layout .fs-full-screen-player-module-container {
    padding: 1rem !important;
    padding-bottom: 9rem !important;
    padding-right: 1rem !important;
    padding-top: 1rem !important;
    height: 100vh !important;
}

/* ----------------------------- Player Bar ------------------------------- */

#player-bar ._image_ly86j_1 button,
#player-bar .fs-left-controls-module-image-wrapper button {
    display: none;
}

#player-bar {
    margin-left: 1rem;
    margin-right: 1rem;
}

#player-bar>.fs-playerbar-module-container {
    width: 100%;
}

/* ---------------------------- Drawer Queue ------------------------------ */

#drawer-queue {
    z-index: 201 !important;
    top: 0 !important;
    right: 1rem !important;
}

#default-layout:has(.fs-window-bar-module-windows-container) #drawer-queue {
    height: calc(100vh - 11rem) !important;
}

#default-layout:not(:has(.fs-window-bar-module-windows-container)) #drawer-queue {
    height: calc(100vh - 9rem) !important;
}

#drawer-queue *,
.fs-context-menu-module-container *,
.fs-popover-module-dropdown *,
.fs-dropdown-menu-module-menu-dropdown * {
    --ag-header-background-color: unset;
    --ag-odd-row-background-color: unset;
    --ag-background-color: unset;
}

#drawer-queue>div>div {
    background-color: unset !important;
    background-image: unset;
}

/* -------------------------------- Left Sidebar ------------------------------- */

#left-sidebar .fs-sidebar-module-accordion-content,
#left-sidebar .fs-accordion-module-panel,
.fs-main-content-module-sidebar-expanded #sidebar {
    background: none;
}

#sidebar {
    margin-left: 1rem;
}

#default-layout:has(.fs-window-bar-module-windows-container) #sidebar {
    max-height: calc(100vh - 11rem);
}

#default-layout:not(:has(.fs-window-bar-module-windows-container)) #sidebar {
    max-height: calc(100vh - 9rem);
}

#sidebar .fs-resize-handle-module-handle-right,
#sidebar .fs-resize-handle-module-handle-right::before {
    max-height: calc(100vh - 10rem);
}

/* -------------------------------- Right Sidebar ------------------------------- */

#sidebar-queue {
    margin-left: -1rem;
}

#default-layout:has(.fs-window-bar-module-windows-container) #sidebar-queue {
    max-height: calc(100vh - 11rem);
}

#default-layout:not(:has(.fs-window-bar-module-windows-container)) #sidebar-queue {
    max-height: calc(100vh - 9rem);
}

#sidebar-queue * {
    background-color: unset;
    --ag-header-background-color: unset;
    --ag-background-color: unset;
    --ag-odd-row-background-color: unset;
}

/* ---------------------------- Header (Page Title) ------------------------------*/

#main-content main .fs-page-header-module-header {
    margin-right: 0rem;
    min-height: 4rem;
}

.fs-library-header-bar-module-play-button-container {
    margin-left: 1rem;
}

.fs-page-header-module-container {
    padding: 0 !important;
    height: 5rem;
}

.fs-animated-page-module-animated-page:has(.fs-virtual-grid-wrapper-module-virtual-grid-auto-sizer-container) .fs-page-header-module-header {
    border-radius: 0 !important;
    box-shadow: unset !important;
}

#main-content main .fs-page-header-module-background-image,
#main-content main .fs-page-header-module-background-image-overlay {
    opacity: 0;
}

/* ---------------------------- Main Content ------------------------------------*/

main>.fs-virtual-grid-wrapper-module-virtual-grid-auto-sizer-container {
    max-height: calc(100vh - 16rem);
}

main.fs-animated-page-module-animated-page>.fs-virtual-grid-wrapper-module-virtual-grid-auto-sizer-container>div>div {
    padding: 1rem;
}

main>.fs-virtual-grid-wrapper-module-virtual-grid-auto-sizer-container * {
    --ag-header-background-color: unset;
    --ag-background-color: unset;
    --ag-odd-row-background-color: unset
}

.ag-header {
    background: unset;
}

#main-content {
    background: unset;
    height: 100%;
    gap: 1rem;
}

/* ----------------------------------- Home Page --------------------------------------- */

main .fs-feature-carousel-module-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 16rem;
}

main .fs-feature-carousel-module-carousel {
    height: 16rem;
}

main .fs-feature-carousel-module-wrapper .fs-feature-carousel-module-background-image {
    width: 100%;
    height: 100%;
    filter: blur(12px);
}

main>div>div>div:has(.fs-feature-carousel-module-wrapper) {
    padding: 1rem !important;
    margin-bottom: unset !important;
}

main>div>div>div:has(.fs-feature-carousel-module-wrapper)>.grid-carousel:first-of-type {
    margin-top: 16rem;
}

/* ----------------------------------- Settings Page --------------------------------------- */

main:has(.fs-tabs-module-root) .fs-page-header-module-header {
    border-radius: 0 !important;
}

main>div>div:has(.fs-tabs-module-root) {
    padding: 1rem;
    border-radius: 0;
    background-color: var(--gruv-bg1);
}

/* ----------------------------------- Misc --------------------------------------- */

#drawer-queue,
#sidebar-queue,
#player-bar,
.fs-main-content-module-sidebar-collapsed #sidebar,
.fs-main-content-module-sidebar-expanded #left-sidebar,
.fs-context-menu-module-container,
.fs-animated-page-module-animated-page,
.fs-popover-module-dropdown,
.fs-dropdown-menu-module-menu-dropdown,
main:has(div>.fs-feature-carousel-module-wrapper) .fs-page-header-module-header,
main:has(div>.fs-library-header-module-library-header) .fs-page-header-module-header,
main:has(div>.fs-album-detail-content-module-content-container) .fs-page-header-module-header,
main:has(div>.fs-album-detail-content-module-content-container) .ag-header.ag-header-window-bar {
    background-color: color-mix(in srgb, var(--gruv-bg0) 80%, transparent) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid var(--gruv-bg2);
}

.fs-badge-module-root {
    color: var(--gruv-bg0);
    background-color: var(--gruv-yellow);
    line-height: 1.2rem;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 100px;
}

.fs-text-input-module-root .mantine-Input-wrapper .fs-text-input-module-input,
.fs-action-icon-module-root,
.fs-select-module-input,
.fs-number-input-module-input,
.fs-color-input-module-input,
.mantine-Popover-dropdown,
.fs-multi-select-module-input,
.fs-button-module-root {
    border-radius: 15px;
    background-color: var(--gruv-bg2);
    color: var(--gruv-fg1);
    border: 1px solid var(--gruv-bg3);
}

.fs-playerbar-module-container .fs-left-controls-module-image-wrapper .fs-left-controls-module-image .fs-image-module-unloader,
.fs-poster-card-module-image-container,
.fs-image-module-image {
    border-radius: 10px;
}

.fs-button-module-root {
    background-color: transparent;
}

.fs-context-menu-module-context-menu-button:not(:hover) {
    background-color: unset !important;
    background-image: unset !important;
}

#sidebar-queue .fs-virtual-grid-wrapper-module-virtual-grid-container .fs-virtual-grid-wrapper-module-virtual-grid-auto-sizer-container .fs-virtual-table-module-table-wrapper .ag-root-wrapper .ag-root-wrapper-body .ag-body-viewport {
    padding-bottom: 100px;
}
